@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

/* QUIZZ TITLE ( EDIT TEXT & CENTER TEXT ) */
#title_quizz {
  font-family: "Syne Mono", monospace;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* QUIZZ IMG ( CENTER IMG ) */
#img_quizz {
  padding-bottom: 50px;
  text-align: center;
  padding-top: 30px;
}

/* BUTTONS CHOOSE */
#choose {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
}

/* BORDER CSS */
#border {
  border-style: solid;
  border-width: 4px;
  border-color: green;
}

#puntuacion {
text-align: center;
}